#{extends 'main.html' /}
<div ng-controller="displayCenterCtrl">

    <div class=" col-lg-3 col-md-3">
    </div>

    <div class="col-lg-6 col-md-6">
        <div>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>设备地址</td>
                    <td>
                        <a href="#" editable-text="deviceAddress"
                           onaftersave="updateAddress(deviceAddress)">
                            {{deviceAddress}}</a>
                    *{<a href="#" editable-text="settingValues[settingItem.key]"}*
                    *{onaftersave="updateSetting(settingItem.key)">}*
                    *{{{ settingValues[settingItem.key] || 'empty' }}</a>}*
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="device-mask" ng-if="!hasReceiveSocketData"></div>
            <div class="device-item">
                <div class="light-row">
                    <div class="light-item" ng-repeat="item in led">
                        <button type="button " class="btn light" ng-class="{'light-off':!item.light,'light-on':item.light}">
                            {{item.name}}
                        </button>
                    </div>
                </div>
                <div class="register-row">
                    <div ng-repeat="val in vals">
                        <button class="btn register">
                            {{val.value}}
                            <p ng-if="$index==0">电压</p><p ng-if="$index>0">电流</p>
                        </button>
                    </div>
                </div>
                <div class="operate-row">
                    <div class="operate-item">
                        <button type="button" class="btn btn-warning"><span
                                class="glyphicon glyphicon-hand-up" ng-click="modeSwitch()"></span></button>
                        <p>手动/自动</p>
                    </div>
                    <div class="operate-item">
                        <button type="button" class="btn btn-primary" ng-click="inspect()"><span
                                class="glyphicon glyphicon-user"></span></button>
                        <p>巡检</p>
                    </div>
                    <div class="operate-item">
                        <button type="button" class="btn btn-danger" ng-click="motor1()"><span class="glyphicon glyphicon-off"></span>
                        </button>
                        <p>一泵启运/停止</p>
                    </div>
                    <div class="operate-item">
                        <button type="button" class="btn btn-danger" ng-click="motor2()"><span class="glyphicon glyphicon-off"></span>
                        </button>
                        <p>二泵启运/停止</p>
                    </div>
                    <div class="operate-item">
                        <button type="button" class="btn btn-success" ng-click="showModal()"><span
                                class="glyphicon glyphicon-cog"></span></button>
                        <p>设置</p>
                    </div>
                    <div class="operate-item">
                        <button type="button" class="btn btn-info"><span
                                class="glyphicon glyphicon-floppy-disk"></span></button>
                        <p>保存/复位</p>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>










